<!--
<div class="jumbotron jumbotron-fluid col text-center">
  <div class="container">
    <h1 class="display-4">Hotel MarParaíso </h1>
    <p class="lead">Hacemos que tu estancia sea placentera y duradera </p>
  </div>
</div>
-->

<!-- quienes somos ? -->
<section id="one" class="wrapper style1 special">
  <div class="inner">

    <section id="service" class="section-padding wow fadeInUp delay-05s">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2 class="service-title pad-bt15">Misión y visión </h2>
            <p class="sub-title pad-bt15">Fomentamos el concepto de que tengas la mejor experiencia.
              <br> Además, mantenemos nuestras política firmes a pesar de los vaivenes económicos,
              tenemos las mejores instalaciones y personal altamente capasitado.
            </p>
            <hr class="bottom-line">
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="service-item">
              <h3><span>O</span>bjetivo</h3>
              <p> Qué tu experiencia en nuestras instalaciones sea placentera. <br> </p>

            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="service-item">
              <h3>D<span>estacamos en</span></h3>
              <ul>
                <li>Todo Incluido las 24 horas</li>
                <li>A una calle de la playa</li>
                <li>Bar</li>
                <li>Salón de eventos</li>
                <li>2 piscinas con jacuzzi</li>
              </ul>
          </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="service-item">
              <h3><span>C</span>ontamos con </h3>
              <ul>
                <li>Restaurante</li>
                <li>WiFi gratuito en todo el hotel</li>
                <li>Tus ingresos</li>
                <li>Servicio de habitación las 24 horas</li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </section>
  </div>
</section>



      <div class="container" id="carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="assets/img/edit1.jpg" >
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="assets/img/edit 2.jpg" >
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="assets/img/edit 3.jpg" >
          </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Siguiente</span>
        </a>
      </div>
      </div>
<br>
<br>
<section class="container">

  <div class="card-group">
  <div class="card">
    <img class="card-img-top" src="assets/img/edit1.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/img/edit 2.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/img/edit 3.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
<div class="card-group">
<div class="card">
  <img class="card-img-top" src="assets/img/edit1.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
</div>
<div class="card">
  <img class="card-img-top" src="assets/img/edit 2.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
</div>
<div class="card">
  <img class="card-img-top" src="assets/img/edit 2.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
</div>
</div>
<br>
<br>
</section>

<section class="container">
  <app-registros></app-registros>

</section>


<section  id="gers" data-type="background" data-speed="10">

  <section class="pages" id="gers" data-type="background" data-speed="10">

      <div class="container">
        <div class="row-fluid">
          <div class="span8">
            <h2>Estamos ubicados en </h2>
            <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.uk/maps?f=q&source=s_q&hl=en&geocode=&q=15+Springfield+Way,+Hythe,+CT21+5SH&aq=t&sll=52.8382,-2.327815&sspn=8.047465,13.666992&ie=UTF8&hq=&hnear=15+Springfield+Way,+Hythe+CT21+5SH,+United+Kingdom&t=m&z=14&ll=51.077429,1.121722&output=embed"></iframe>
          </div>

          <div class="span4">
            <h2>Snail mail</h2>
            <address>
              <strong>Hythe Window Cleaning</strong><br>
              15 Springfield Way<br>
              Hythe<br>
              Kent<br>
              United Kingdon<br>
              CT21 5SH<br>
              <abbr title="Phone">P:</abbr> 01234 567 890
            </address>
          </div>
        </div>
      </div>

  </section>
</section>

<div >
  <app-footer></app-footer>
</div>
