
      <div class="container">
            <nav>
                  <input type="checkbox" id="nav" class="hidden">
                  <label for="nav" class="nav-btn">
                        <i></i>
                        <i></i>
                        <i></i>
                  </label>
                  <div class="logo">
                        <a href="#">Mar Paraíso</a>
                  </div>
                  <div class="nav-wrapper">
                        <ul>
                              <li><</li>
                              <li></li>
                              <li></li>
                              <li>1</li>
                        </ul>
                  </div>
            </nav>
      </div>
