<div class="container">
  <div class="form_top">
    <h2>Registrate</h2>
  </div>
  <form class="form_reg" action="contacto.component.html" method="post">
    <input class="input" type="text" placeholder="&#128527; Nombre"required autofocus>
    <input class="input" type="email" placeholder="&#9993; Email"required>
    <input class="input" type="tel" placeholder="&#128241; Telefono"required>
    <input class="input" type="date" value="2018-08-01" placeholder="	&#8986; Fecha de llegada">
    <input class="input" type="date" value="2018-08-19" placeholder="	&#8986; Fecha de salida">
  <div class="form-row">
    <div class="form-inline ">
      <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="habitacion">
        <option>Habitaciones</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
    <div class="form-inline">

      <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="adulto">
        <option>Adultos</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
    <div class="form-inline">
    <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="nino">
        <option>Niños</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
  </div>

    <div class="btn_form">
      <a [routerLink]="['/contacto']"> cc </a>
 <input class="btn_submit" type="submit" name="" value="Registrar">
    </div>
  </form>
</div>
<script src="/components/registros/app.js">

</script>
