<div class="container">
  <div class="form_top">
    <h2>Registrate</h2>
  </div>
  <form class="form_reg" action="index.html" method="post">
    <input class="input" type="text" placeholder="&#128100; Nombre"required autofocus>
    <input class="input" type="email" placeholder="&#9993; Email"required>
    <input class="input" type="tel" placeholder="&#128241; Telefono"required>
    <input class="input" type="date" value="2018-08-01" placeholder="	&#8986; Fecha de llegada">
    <input class="input" type="date" value="2018-08-19" placeholder="	&#8986; Fecha de salida">
    <div class="btn_form">
      <input class="btn_submit" type="submit" name="" value="Registrar">
  
    </div>
  </form>
</div>
