<!--
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
      <img src="assets/img/A-64.png" width="30" height="30" alt="">
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
active

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['home']">Home </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['about']">About</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['heroes']">Heroes</a>
      </li>

      <li class="nav-item dropdown" routerLinkActive="active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" onsubmit="return false">
      <input class="form-control mr-sm-2" type="text" placeholder="Buscar Heroe" (keyup.enter)="buscarHeroe(buscarTexto.value)"#buscarTexto>
      <button (click)="buscarHeroe(buscarTexto.value) "class="btn btn-outline-primary my-2 my-sm-0" type="button">Buscar </button>
    </form>
  </div>
</nav>

<div class="jumbotron jumbotron-fluid col text-center">
  <div class="container">
    <h1 class="display-4">Hotel MarParaíso </h1>
    <p class="lead">Hacemos que tu estancia sea placentera y duradera </p>
  </div>
</div> /assets/img/icon.png
</a>

-->
<div class="header">
  <div class="bg-color">
    <header id="main-header">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">
              <img src="/assets/img/icon.png" width="30" height="30" alt="">
            </a>
            <a class="navbar-brand" href="#">Hotel <span class="logo-dec">Mar Paraíso</span></a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="#main-header">Home</a></li>
              <li class=""><a href="#feature">Acerca de </a></li>
              <li class=""><a href="#service">Servicios</a></li>
              <li class=""><a href="#portfolio">Portafolio</a></li>
              <li class=""><a href="#testimonial">Desarrollador</a></li>
              <li class=""><a href="#blog">Blog</a></li>
              <li class=""><a href="#contact">Contactanos</a></li>
              <li><a href="registraTe.html"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
              <li><a href="logueo.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="wrapper col text-center">
      <div class="container">
        <div class="row">
          <div class="banner-info text-center wow fadeIn delay-05s">
            <br>
            <br>
            <br>
            <h1 class="bnr-title">Te sentiras como en el paraiso <span></span></h1>
            <h2 class="bnr-sub-title">¡COMIENZA UN NUEVO VIAJE!</h2>
            <p class="bnr-para"> Está situado sobre una impresionante playa de arena blanca para que vivas unas vacaciones inolvidables.
            <br> Con todo incluido, abierto las 24 horas cuenta con una amplia oferta gastronómica, el mejor entretenimiento y con unas completas instalaciones para que disfrutes de nuestro exclusivo hotel.<br>
            </p>
            <div class="brn-btn">
              <a href="#50cent" class="btn btn-download">Reservaciones</a>
              <a href="#50cent" class="btn btn-more">Galeria</a>
            </div>
            <div class="overlay-detail">
              <a href="#feature"><i class="fa fa-angle-down"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
